* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
body {
    width: 80%;
    margin: auto;
}
/* debug section */
.siteheader.debug{ 
    height: 100px;
}

/* /debug section */
/* Site Header */
.siteheader {
    background-color:rgb(222 175 24 / 43%);
}
/* /Site Header */